{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Index of notes {% endblock %}
{% block body_block %}
    <h1> View your notes </h1>
 {% if your_notes %}
            <dl>
                {% for anote in your_notes %}
                <dt> <strong> {{ anote.book }} {{ anote.chapter }} : {{ anote.verse }} </strong> </dt>
                    <dd> {{ anote.note_text }} <br> Source:<i> {{ anote.note_source }} </i> <br />
                        <a href="/note/edit/{{ anote.id }}/"> Edit Link </a> </dd>
                    <br />
                {% endfor %}
            </dl>
        {% else %}
            <strong>Nothing here add a note!</strong>
        {% endif %}

{% endblock %}